%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_tag login_path, class: 'sign_in' do
        %header
          %h1 Sign in
        %fieldset
          .form-group
            = label_tag :email, "Email Address"
            .row
              .col-sm-4
                = email_field_tag :email
          .form-group
            = label_tag :password, "Password"
            .row
              .col-sm-4
                = password_field_tag :password
        %fieldset.form-group.action
          %input(type="submit" value="Sign in" class="btn btn-primary")
          = link_to "Forgot Password?", forgot_password_path
          %hr
          = link_to "Go to Register", register_path, style: "color: blue", :"data-turbolinks" => false
