%section.my_queue.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %h2 My Queue
        = form_tag update_queue_path do
          %table.table
            %thead
              %tr
                %th(width="10%") List Order
                %th(width="30%") Video Title
                %th(width="10%") Play
                %th(width="20%") Rating
                %th(width="15%") Genre
                %th(width="15%") Remove
            %tbody
              - @queue_items.each do |queue_item|
                %tr
                  = hidden_field_tag "queue_items[][id]", queue_item.id
                  %td
                    = text_field_tag "queue_items[][position]", queue_item.position, class: "form-control", data: { video_id: queue_item.video.id }
                  %td
                    = link_to queue_item.video_title, queue_item.video
                  %td
                    = button_to "Play", nil, class: "btn btn-default"
                  %td
                    = select_tag "queue_items[][rating]", options_for_video_reviews(queue_item.rating), class: "form-group"
                  %td
                    = link_to queue_item.category_name, queue_item.category
                  %td
                    = link_to queue_item, method: :delete do
                      %i.glyphicon.glyphicon-remove
          = submit_tag "Update Instant Queue", class: "btn btn-default"
