%script(src="https://js.stripe.com/v3/")
= javascript_include_tag "stripe-payment"

%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for @user, html: { class: "", id: "payment-form" } do |f|
        %header
          %h1 Register
        %fieldset
          .form-group
            = f.label :email, "Email Address"
            .row
              .col-sm-4
                = f.email_field :email
          .form-group
            = f.label :password, "Password"
            .row
              .col-sm-4
                = f.password_field :password
          .form-group
            = f.label :full_name, "Full Name"
            .row
              .col-sm-4
                = f.text_field :full_name
          = hidden_field_tag :invitation_token, @invitation_token
        %fieldset
          .form-group
            .row
              .col-sm-8
                %strong.row Credit Card Information
                #card-element
        %fieldset
          .from-group
            #card-errors
            %br

        %fieldset.form-group.action
          %input(type="submit" value="Sign Up" class="btn btn-primary")
        %hr
        = link_to "Go to Login", login_path, style: "color: blue"

:javascript
  window.stripe_key = "#{ENV['STRIPE_PUBLISHABLE_KEY']}"
