%section#top-header.row
  %h1.col-md-2
    = link_to "EcomRails", root_path
  - if current_user
    %ul.col-md-4.clearfix
      %li= link_to "Videos", videos_path
      %li= link_to "My Queue", my_queue_path
      %li= link_to "People", people_path
      %li= link_to "Advanced Search", advanced_search_videos_path
    = form_tag search_videos_path, class: "col-md-5 navbar-form" do
      .form-group
        %input.form-control(name="term" type="text" placeholder="Search for videos here")
      %button.btn.btn-default(type="submit") Search
    #user_links.pull-right
      %ul
        %li.dropdown.custom
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, #{current_user.full_name}
            %b.caret
          %ul.dropdown-menu.custom(role="menu" aria-labelledby="dlabel")
            %li
              = link_to "Invite a friend", new_invitation_path
              = link_to "Account", account_path
              = link_to "Plan and Billing", billing_path
              - if current_user.admin?
                = link_to "Add Video", new_admin_video_path
                = link_to "View Payments", admin_payments_path
              = link_to "Log out", logout_path
