- flash.each do |name, msg|
  #flash-msg(class="alert alert-#{name}")
    %a.close(data-dismiss='alert') &#215;
    = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

:javascript
  var msg = document.getElementById('flash-msg');
  if (msg) {
    var self = msg;
    msg.onclick = () => self.remove()
  }