%section.invite.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for @invitation, html: { class: "invite" } do |f|
        %header
          %h1 Invite a friend to join EcomRails!

        %fieldset
          .form-group
            = f.label :recipient_name, "Friend's Name"
            .row
              .col-sm-4
                = f.text_field :recipient_name, class: "form-control"
          .form-group
            = f.label :recipient_email, "Friend's Email Address"
            .row
              .col-sm-4
                = f.text_field :recipient_email, class: "form-control"
          .form-group
            = f.label :message, "Invitation Message"
            .row
              .col-sm-6
                = f.text_area :message, class: "form-control", rows: 6, placeholder: "Please join this really cool site!"

        %fieldset.form-group.action
          %input(type="submit" value="Send Invitation" class="btn btn-default")
