%section.genre
  %header.clearfix
    %h1= @category.name
  %article.row
    - @category.videos.each do |video|
      .video.col-md-2
        = link_to video_path(video) do
          %img(src="#{video.small_cover}")