%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        = form_for [:admin, @video], html: { class: "form-horizontal" } do |f|
          %ul.nav.nav-tabs
            %li
              = link_to "Recent Payments", admin_payments_path
            %li.active
              = link_to "Add a New Video", new_admin_video_path
          %br
          %fieldset
            .form-group
              = f.label :title, class: "control-label col-sm-3"
              .row
                .col-sm-6
                  = f.text_field :title, placeholder: "Video title", class: "form-control"

            .form-group
              = f.label :category_ids, class: "control-label col-sm-3"
              .row
                .col-sm-6
                  = f.select :category_ids, options_for_select(Category.all.map { |c| [c.name, c.id]}), {}, {multiple: true, size: Category.count}

            .form-group
              = f.label :description, class: "control-label col-sm-3"
              .row
                .col-sm-6
                  = f.text_area :description, rows: 8, placeholder: "Video description...", class: "form-control"

            .form-group
              = f.label :large_cover, class: "control-label col-sm-3"
              .row
                .col-sm-6
                  %col.btn.btn-file
                    = f.file_field :large_cover

            .form-group
              = f.label :small_cover, class: "control-label col-sm-3"
              .row
                .col-sm-6
                  %col.btn.btn-file
                    = f.file_field :small_cover

            .form-group
              = f.label :video_url, class: "control-label col-sm-3"
              .row
                .col-sm-6
                  = f.text_field :video_url, placeholder: "Video URL", class: "form-control"


          %fieldset.actions.form-group
            .col-sm-6.col-md-offset-3
              %input(type="submit" value="Add Video" class="btn btn-default")
